<ng-container *ngIf="data">
  <ng-container [ngSwitch]="scope">
    <ng-container *ngSwitchCase="Scopes.OrgUnit">
      <a href="#" (click)="clearSelection($event);">&laquo; Tilbake</a>
      <h3>{{ data.orgUnits[0].type }} ({{ data.orgUnitCounts[data.orgUnits[0].type] }})</h3>
    </ng-container>
    <ng-container *ngSwitchCase="Scopes.Category">
      <a href="#" (click)="clearSelection($event);">&laquo; Tilbake</a>
      <h3>{{ data.categories[0].type }} ({{ data.categoryCounts[data.categories[0].type] }})</h3>
    </ng-container>
    <ng-container *ngSwitchCase="Scopes.EventType">
      <a href="#" (click)="clearSelection($event);">&laquo; Tilbake</a>
      <h3>{{ data.events[0].type }} ({{ data.eventTypeCounts[data.events[0].type] }})</h3>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="scope !== Scopes.OrgUnit">
    <h3>Org. enheter</h3>
    <ul>
      <li *ngFor="let orgUnit of data.orgUnits; let index = index;">
        <a href="#" (click)="select($event, Scopes.OrgUnit, index);">{{ orgUnit.type }}
          ({{ data.orgUnitCounts[orgUnit.type] }})</a>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="scope !== Scopes.Category">
    <h3>Kategorier</h3>
    <ul>
      <li *ngFor="let item of data.categories; let index = index;">
        <a href="#" (click)="select($event, Scopes.Category, index);">{{ item.type }} ({{ data.categoryCounts[item.type] }})</a>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="scope !== Scopes.EventType">
    <h3>Hendelsestyper</h3>
    <ul>
      <li *ngFor="let item of data.events; let index = index;">
        <a href="#" (click)="select($event, Scopes.EventType, index);">{{ item.type }} ({{ data.eventTypeCounts[item.type] }})</a>
      </li>
    </ul>
  </ng-container>
</ng-container>
