<ng-container *ngIf="facets">
  <h3 class="filters__heading">{{ heading }}</h3>
  <ul class="filters__list">
    <ng-container *ngFor="let facet of facets">
      <li class="filters__item">
        <span class="filters__facet"
          [ngClass]="{'filters__facet--active': facet.selected, 'filters__facet--inactive': facet.itemAmount === 0}"
          (click)="toggleFacet($event, facet.id);">{{ facet.title }}
          ({{ facet.itemAmount }})</span>
      </li>

      <li *ngIf="facet.selected && facet.children && facet.children.facets.length">
        <ng-container *ngTemplateOutlet="NestedList; context: {$implicit: facet.children, level1Id: facet.id}">
        </ng-container>
      </li>
    </ng-container>
  </ul>
</ng-container>

<ng-template #NestedList let-item let-level1Id="level1Id" let-level2Id="level2Id">
  <div class="filters__toggle" [ngClass]="{'filters__toggle--expanded': item.expanded}"
    (click)="toggleExpansion($event, item.groupId);">
    <h4 *ngIf="!level2Id" class="filters__heading filters__heading--nested">{{ item.heading }}</h4>
    <h5 *ngIf="level2Id" class="filters__heading filters__heading--nested">{{ item.heading }}</h5>
  </div>
  <div class="filters__container">
    <ul class="filters__list filters__list--nested">
      <ng-container *ngFor="let facet of item.facets">
        <li class="filters__item">
          <span class="filters__facet" [ngClass]="{'filters__facet--active': facet.selected}"
            (click)="toggleFacet($event, level1Id, level2Id ? level2Id : facet.id, level2Id ? facet.id : null);">{{ facet.title }}
            ({{ facet.itemAmount }})</span>
        </li>
        <li *ngIf="facet.selected && facet.children && facet.children.facets.length">
          <ng-container
            *ngTemplateOutlet="NestedList; context: {$implicit: facet.children, level1Id: level1Id, level2Id: facet.id}">
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-template>
