.filters {
  &__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0 4px;
    font-size: 16px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--nested {
      margin: 4px 0 4px 32px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
  }

  &__facet {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    user-select: none;
    cursor: pointer;

    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 8px;
      border: 1px solid #cecece;
      border-radius: 4px;
    }

    &--active {
      font-weight: 700;

      &:before {
        content: "\2713";
        line-height: 20px;
        font-weight: 700;
        text-align: center;
      }
    }

    &--inactive {
      color: #cecece;

      &:before {
        content: "";
      }
    }
  }

  &__toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 28px;
    cursor: pointer;
    user-select: none;

    &:before {
      content: "+";
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      font-size: 27px;
      font-weight: 700;
    }

    &--expanded:before {
      content: '-';
    }
  }

  &__toggle--expanded + &__container {
    max-height: none;
  }

  &__container {
    max-height: 0;
    overflow: hidden;
  }
}
