html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
  font-family: Lato, sans-serif;
  line-height: 1.25;
  font-size: 16px;
  font-weight: 400;
}

p {
  margin: 8px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
